body {
    font-size: 20px;
}

form {
  display: block;
  margin-top: 20px;
}

label, input, button {
  display: block;
  margin-bottom: 10px;
}

input {
    padding: 5px;
    width: 25%;
}

.navbar {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  li {
    margin-right: 20px;
  }

  a {
    text-decoration: none;
  }
}
