/**
 * CONTENTS
 * ========
 * 00. VARIABLES
 * 01. STANDARD STYLING
 * 02. NAVBAR
 * 03. FEED
 * 04. ARTICLES
 * 05. TOTOP BUTTON
 * 06. RESPONSIVE DESIGN
 */

/**
 * 00. VARIABLES
 * =============
 */
$font-family-base: "Inter", Arial, sans-serif;

$colour-bg-primary: #121212;
$colour-bg-secondary: #1a1a1a;
$colour-accent: #333333;

$colour-text-primary: #f0f0f0;
$colour-text-secondary: #c8c7c4;

/**
 * 01. STANDARD STYLING
 * ====================
 */
html,
body {
  overflow-y: auto;
  overflow-x: hidden !important;
  align-items: left;
  display: flex;
  width: 95%;
  font-family: $font-family-base;
  justify-content: left;
  margin: 10px;
}

body {
  font-size: 22px;
  background: $colour-bg-primary;
}

h1,
h2,
h3,
h4 {
  color: $colour-text-primary;
}

/**
 * 02. NAVBAR
 * ==========
 */
.navbar {
  background-color: $colour-bg-secondary;
  padding: 10px;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  border-right: 0.5px solid $colour-accent;

  .navbar-logo {
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 20%;

    .logo-text {
      color: $colour-text-secondary;
    }

    .logo-number {
      color: $colour-text-primary;
    }
  }

  .navbar-nav {
    flex-grow: 1;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      margin-top: auto;

      li {
        margin: 5px 0;
        font-size: 20px;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $colour-text-primary;
          padding: 10px;
          display: block;
          border-radius: 8px;
          transition: background-color 0.3s ease, color 0.3s ease;

          &:hover {
            background-color: $colour-accent;
          }

          img {
            width: 20px;
            height: 20px;
            padding-right: 10px;
            transform: translateY(3px);
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

/**
 * 03. FEED
 * ========
 */
.feed {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 80%;
  margin: 0 auto;
  max-width: 100%;
  min-width: 600px;
  align-items: flex-start;
  text-align: left;
  position: relative;
  left: 200px;

  h1 {
    margin-bottom: 5px;
    text-align: left;
    align-self: flex-start;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;

    .input-wrapper {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding-right: 80px;
        background-color: $colour-bg-primary;
        border-radius: 5px;
        border: 1.5px solid $colour-accent;
        color: $colour-text-primary;
        font-size: 16px;
        font-family: $font-family-base;
        height: 40px;
        padding: 5px 12px;
        box-sizing: border-box;

        &:focus {
          color: $colour-text-secondary;
          outline: none;
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $colour-bg-primary;
        color: $colour-bg-primary;
        border: 1.5px solid $colour-accent;
        border-radius: 0 5px 5px 0;
        border-left: none;
        padding: 0 15px;
        font-family: $font-family-base;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:focus {
          outline: none;
        }

        img.search-icon {
          width: 20px;
          height: 20px;
          transition: transform 0.2s ease-in-out;
        }

        &:hover img.search-icon {
          filter: invert(1);
          transform: scale(1.1);
        }
      }
    }
  }

  ul {
    font-size: 20px;
    list-style: none;
    margin-top: -10px;
    padding: 0;
    max-width: 500px;
    width: 100%;

    li {
      align-items: center;
      display: flex;
      font-weight: bold;
      gap: 10px;
      list-style-type: none;
      padding: 5px;
      width: 100%;
      justify-content: space-between;
      flex-grow: 1;

      a {
        color: $colour-text-secondary;
        display: inline-block;
        flex-grow: 1;
        flex: 1;
        max-width: 100%;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }

      .delete-btn {
        align-items: center;
        margin-left: 185px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        padding: 6px;
        transition: background-color 0.3s ease, border-radius 0.3s ease, transform 0.2s ease;
        width: 32px;

        &:hover {
          background-color: $colour-accent;
          transform: scale(1.1);

          .delete-icon {
            content: url('/static/images/icons/delete-hover.svg');
          }
        }

        .delete-icon {
          content: url('/static/images/icons/delete.svg');
          height: 20px;
          transition: transform 0.2s ease, content 0.3s ease;
          width: 20px;
        }
      }
    }
  }
}

/**
 * 04. ARTICLES
 * ============
 */
.articles {
  flex-direction: row;
  height: 80%;
  margin-left: 250px;
  margin-right: auto;
  margin-top: 0px;
  max-width: 85%;
  min-width: 600px;
  width: 100%;

  h1 {
    margin-bottom: 50px;
  }

  ul {
    font-size: 22px;
    margin-top: -10px;
    width: 100%;
    max-width: 100%;
    margin-left: 100px;

    li {
      border-radius: 5px;
      border: 1px solid $colour-accent;
      display: flex;
      align-items: left;
      flex-direction: column;
      font-weight: bold;
      list-style-type: none;
      padding: 10px;
      width: 80%;
      gap: 10px;

      a {
        color: $colour-text-secondary;
        flex-grow: 1 1 auto;
        flex-shrink: 0;
        min-width: 100%;
        max-width: 0%;
        padding-left: 5px;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }

      .details {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        margin: 0 5px;
        color: $colour-accent;

        small:first-of-type {
          flex: 1;
          text-align: left;
          font-weight: bold;
          font-size: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .buttons-container {
          margin-left: 75px;
          display: flex;
          justify-content: space-between;
          min-width: 325px;
        }

        .post {
          flex: 0 0 120px;
          background-color: $colour-bg-primary;
          font-weight: bold;
          font-size: 16px;
          color: $colour-accent;
          border-radius: 5px;
          border: 1px solid $colour-bg-primary;
          padding: 3px;
          transition: background-color 0.3s ease, color 0.3s ease;
          text-align: center;

          &:hover {
            background-color: $colour-accent;
            color: $colour-text-secondary;
          }
        }

        .delete {
          flex: 0 0 120px;
          background-color: $colour-accent;
          font-weight: bold;
          font-size: 16px;
          color: $colour-text-secondary;
          border-radius: 5px;
          border: 1px solid $colour-bg-primary;
          padding: 3px;
          transition: background-color 0.3s ease, color 0.3s ease;
          text-align: center;

          &:hover {
            background-color: $colour-bg-primary;
            color: $colour-accent;
          }
        }

        small:last-of-type {
          flex: 1;
          text-align: right;
          font-weight: bold;
          padding-right: 10px;
          font-size: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

/**
 * 05. TOTOP BUTTON
 * ================
 */
#toTop {
  font-family: $font-family-base;
  font-size: 16px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: $colour-bg-primary;
  color: $colour-accent;
  border: 2px solid $colour-accent;
  border-radius: 8px;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  opacity: 0;
  visibility: hidden;

  &:hover {
    background-color: $colour-accent;
    color: $colour-text-secondary;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

/**
 * 06. RESPONSIVE DESIGN
 * =====================
 */
@media only screen and (max-width: 2000px) {}

@media only screen and (max-width: 1750px) {}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1250px) {}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 800px) {}
