/**
 * Variables
 */
$font-stack: "Inter", Arial, sans-serif;
$background: #121212;
$background-seconary: #1a1a1a;
$accent: #333333;
$text-primary: #f0f0f0;
$text-secondary: #c8c7c4;

/**
 * Standard styling
 */
html,
body {
  overflow-y: auto;
  overflow-x: hidden !important;
  align-items: left;
  display: flex;
  width: 95%;
  font-family: $font-stack;
  justify-content: left;
  margin: 10px;
}

body {
  font-size: 18px;
  background: $background;
}

h1,
h2,
h3,
h4 {
  color: $text-primary;
}

/**
 * Navbar
 */
.navbar {
  background-color: $background-seconary;
  padding: 10px;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  border-right: 0.5px solid $accent;

  .navbar-logo {
    text-align: center;
    font-size: 24px;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .logo-text {
    color: $text-secondary;
  }

  .logo-number {
    color: $text-primary;
  }

  .navbar-nav {
    flex-grow: 1;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  li {
    margin: 5px 0;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: $text-primary;
    padding: 10px;
    display: block;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $accent;
    }
  }
}

/**
 * toTop button styling
 */
#toTop {
  font-family: $font-stack;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  height: 30px;
  cursor: pointer;
  background-color: $background;
  color: $accent;
  border: 2px solid $accent;
  border-radius: 8px;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  opacity: 0;
  visibility: hidden;

  &:hover {
    background-color: $accent;
    color: $text-secondary;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

/**
 * Articles styling
 */
.articles {
  flex-direction: row;
  height: 80%;
  margin-left: 220px;
  margin-right: auto;
  margin-top: 0px;
  max-width: 85%;
  min-width: 600px;

  h1 {
    margin-bottom: 50px;
  }

  ul {
    font-size: 16px;
    margin-top: -10px;

    li {
      font-weight: bold;
      list-style-type: none;
      padding: 0px;

      small {
        color: $accent;
        flex-shrink: 0;
        float: right;
        font-weight: bold;
        max-width: 30%;
        padding-top: 5px;
      }

      a {
        color: $text-secondary;
        display: inline-block;
        flex: 1;
        max-width: 70%;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/**
 * Feed styling
 */
.feed {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 80%;
  margin: 0 auto;
  max-width: 100%;
  min-width: 600px;
  align-items: flex-start;
  text-align: left;
  position: relative;
  left: 200px;

  h1 {
    margin-bottom: 5px;
    text-align: left;
    align-self: flex-start;
  }

  form {
    align-items: left;
    display: flex;
    gap: 10px;
    max-width: 500px;
    width: 100%;
    align-self: left;
    text-align: left;
  }

  input {
    background-color: $background;
    border-radius: 8px;
    border: 2px solid $accent;
    box-sizing: border-box;
    color: $text-primary;
    flex-grow: 1;
    font-family: $font-stack;
    height: 36px;
    padding: 5px;
    width: 100%;

    &:focus {
      color: $text-secondary;
      outline: none;
    }
  }

  ul {
    font-size: 16px;
    list-style: none;
    margin-top: -10px;
    padding: 0;
    max-width: 500px;
    width: 100%;

    li {
      align-items: center;
      display: flex;
      font-weight: bold;
      gap: 10px;
      list-style-type: none;
      padding: 5px;
      width: 100%;
      justify-content: space-between;
      flex-grow: 1;

      a {
        color: $text-secondary;
        display: inline-block;
        flex-grow: 1;
        flex: 1;
        max-width: 100%;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          text-decoration: none;
        }
      }

      .delete-btn {
        align-items: center;
        margin-left: 225px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        padding: 6px;
        transition: background-color 0.3s ease, border-radius 0.3s ease, transform 0.2s ease;
        width: 32px;

        &:hover {
          background-color: $accent;
          transform: scale(1.1);

          .delete-icon {
            content: url('/static/images/icons/delete-hover.svg');
            transform: scale(1.2);
          }
        }

        .delete-icon {
          content: url('/static/images/icons/delete.svg');
          height: 20px;
          transition: transform 0.2s ease, content 0.3s ease;
          width: 20px;
        }
      }
    }
  }
}
