@use '../abstracts/variables' as *;

.error {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: $colour-accent;
  color: $colour-text-primary;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
