@use '../abstracts/variables' as *;

.navbar {
  background-color: $colour-bg-secondary;
  padding: 15px 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  z-index: 1000;

  &__logo {
    font-size: 30px;
    color: $colour-text-secondary;
    margin-right: 40px;
    padding-left: 20px;
  }

  &__logo-number {
    color: $colour-text-primary;
  }

  &__navigation {
    margin-left: auto;
    padding-right: 75px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
  }

  &__item {
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;

    &:hover {
      background-color: $colour-accent;
    }
  }

  &__link {
    align-items: center;
    text-decoration: none;
    color: $colour-text-primary;
    padding: 8px 12px;
    display: flex;
  }
}
