<!DOCTYPE html>
<html lang="en">
<head>
    {{ .metadata }}
</head>

<body>
    <header>
        {{ .navbar }}
    </header>

    <main class=articles>
        <h1>{{ .title }}</h1>

        <div id="articles"
             hx-trigger="revealed"
             hx-get="/partials/articles/{{ .feedId }}?page=0"
             hx-swap="afterend">
        </div>

        <button onclick="toTop()" id="toTop" class="toTop">↑</button>
    </main>
</body>
</html>
