<!DOCTYPE html>
<html lang="en">
<head>
    {{ .metadata }}
</head>

<body>
    <header>
        {{ .navbar }}
    </header>

    <main class=articles>
        <h1>{{ .title }}</h1>

        {{ .query }}

        <button onclick="toTop()" id="toTop" class="toTop">↑</button>
    </main>
</body>
</html>
