<!DOCTYPE html>
<html lang="en">
<head>
    {{ .metadata }}
</head>

<body>
    <header>
        {{ .navbar }}
    </header>

    <main class="feed">
        <h1 class="feed__header">{{ .title }}</h1>

        {{ .form }}

        <div id="feed-refresh"
             hx-trigger="load, refreshFeed from:body"
             hx-get="/partials/feed"
             hx-swap="innerHTML">
            {{ .feedList }}
        </div>

        <button onclick="toTop()" id="toTop" class="toTop">↑</button>
    </main>
</body>
</html>
